// VARIABLES SECTION
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1210px) !default;

// LIBS	
@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
@import "node_modules/bootstrap/scss/bootstrap-grid.scss"; // Optional Bootstrap Grid


// USER VARIABLES SECTION

$fontsize:   16px;
$mainfamily: 'Montserrat', sans-serif;


html, body {
	overflow-x: hidden;
}
body {
	font-family: $mainfamily;
    font-size: $fontsize;
}



$blue: #3A80BA;

// header 
.main-header {
    background-image: url('./images/header_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 72px;
    min-height: 600px;
}
.main-header__title {
    color: #fff;
    margin: 0;
    margin-top: 49px;
    padding: 0;
    line-height: 1.2;
    font-size: 48px;
    font-weight: 400;
}
.main-header__p {
    font-size: 20px;
    line-height: 1.42;
    padding: 0;
    margin: 24px 0 32px;
}


.section {
    // section Advantages
    &-advantages {
        padding-bottom: 80px;
    }
    // section About
    &-about {
        padding: 55px 0;
        background: rgb(37,93,139);
        background: linear-gradient(90deg, rgba(37,93,139,1) 0%, rgba(58,128,186,1) 100%);
        &__title {
            margin: 0;
            margin-bottom: 16px;
            padding: 0;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.2;
        }
        &__image {
            position: absolute;
            z-index: 1;
            bottom: -55px;
            right: -100%;
        }
    }

    // section Pricing
    &-pricing {
        padding: 80px 0;
        background-repeat: no-repeat;
        background-image: url('./images/pricing_bg.svg');
        background-position: right center;
        &_p {
            font-size: 20px;
            margin: 15px 0;
            padding: 0;
        }
    }
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        width: 380px;
        list-style-type: none;
        max-width: 100%;
        border-radius: 32px;
        margin: 10px;
        background-color: #fff;
        padding: 48px;
        text-align: center;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,.16);

        &-title {
            margin: 0;
            margin-top: 40px;
            margin-bottom: 15px;
            padding: 0;
            font-weight: 600;
            font-size: 24px;
            color: #1A1A1A;
            line-height: 1;
        }
    }
}

.pricing-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        list-style-type: none;
        border-radius: 32px;
        padding: 40px;
        padding-top: 32px;
        width: 380px;
        max-width: 100%;
        margin: 10px;
        text-align: center;
        background-color: #fff;
        &--border {
            border: 1px solid #F1F1F1;
        }
        &--shadow {
            box-shadow: 0 4px 16px 0 rgba(0,0,0,.16);
        }
        &-title {
            margin: 0;
            margin-bottom: 15px;
            padding: 0;
            font-weight: 600;
            font-size: 24px;
            color: #1A1A1A;
            line-height: 1;
        }
        &-price {
            color: #1A1A1A;
            font-size: 48px;
            font-weight: bold;
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;
            display: block;
            line-height: 1;
            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background: rgb(218,218,218);
                background: linear-gradient(90deg, rgba(218,218,218,0) 0%, rgba(218,218,218,1) 50%, rgba(218,218,218,0) 100%);
                height: 1px;
                z-index: 1;
            }
            &--accent {
                color: #3A80BA;
            }
        }
    }
}

.page-footer {
    background-image: url('./images/footer_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 10px;
    &__inner {
        padding: 20px 0;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &-text {
            color: #fff;
        }

        &__not-home {
            margin-top: 0;
        }
    }
    &__not-home {
        padding-top: 0;
        background: #1C3B55;
    }
}


.subscribe-form-wrap {
    position: relative;
    &__input {
        display: block;
        width: 100%;
        border: 1px solid #F1F1F1;
        border-radius: 10px;
        background-color: #fff;
        appearance: none;
        outline: none;
        padding: 19px;
        padding-right: 180px;
        transition: all .5s ease;
        &::placeholder {
            color: #B9B9B9;
            font-size: 16px;
        }
        &:focus {
            border-color: #3A80BA;
        }
    }
    &__btn {
        position: absolute;
        top: 0;
        right: 0;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
    }
}

.page-container {
    padding-top: 72px;
    min-height: calc(100vh - 72px);
}
.page-title {
    margin: 15px 0;
    padding: 0;
    font-weight: bold;
    line-height: 1;
    font-size: 32px;
    color: #1A1A1A;
}
// END PAGE



.img-response {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

b {
    font-weight: bold;
}
p {
    color: #7E7E7E;
}

.text-white {
    color: #fff;
}
.text-center {
    text-align: center;
}

.accent-link {
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    padding: 19px 37px;
    background-color: #3A80BA;
    color: #fff;
    transition: all .4s ease;
    &__white {
        background-color: #fff;
        color: $blue;
        &:hover {
            color: darken($blue, 10%)
        }
    }
    &:hover {
        text-decoration: none; 
        background-color: darken(#3A80BA, 5%);
        color: #fff;
    }
    &:active {
        opacity: 0.8;
    }
}


.section_title {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 32px;
}

.pos-r {
    position: relative;
}

.link {
    text-decoration: none;
    display: inline-block;
    color: #3A80BA;
    transition: all .4s ease;
    &--bold {
        font-weight: bold;
    }

    &:hover {
        color: darken(#3A80BA, 10%);
        text-decoration: none;
    }
    &:active {
        opacity: 0.8;
    }
}


// MEDIA
@media (max-width: 992px) {
    .main-header {
        &__title {
            font-size: 32px;
        }
        &__p {
            font-size: 12px;
        }
    }

    .section-about {
        &__image {
            position: relative;
            top: unset;
            right: unset;
            bottom: unset;
            width: 320px;
            margin: 0 auto;
            margin-bottom: 20px;
            display: block;
        }
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .main-header {
        text-align: center;
        margin-bottom: 40px;

        &__image {
            margin-top: 30px;
        }
    }

    .page-footer {
        &__inner {
            flex-direction: column;

            &-text{
                margin: 5px 0;
            }
        }
    }

    .section-about {
        &__title {
            font-size: 28px;
        }
    }
}

@media (max-width: 500px) {
    .section_title {
        font-size: 22px;
    }

    .subscribe-form-wrap {
        
        &__input {
            font-size: 12px;
        }
        &__btn {
            right: 2px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 14px;
        }
    }
}

@media (max-width: 360px) {
    .main-header {
        &__title {
            font-size: 22px;
        }
        &__p {
            font-size: 12px;
            br {
                display: none;
            }
        }
    }

    .section_title {
        font-size: 18px;
    }
    p {
        font-size: 11px;
        br {
            display: none;
        }
    }

    .section-about {
        &__title {
            font-size: 21px;
        }
    }
    
}